*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.add-sec{
    padding: 100px 0px;

}
.container{
    width: 100%;
    max-width: 1280px;
    margin: auto;
}h1 {
    font-family: "Roboto";
    font-size: 40px;
    font-weight: 600;
    color: #505abb;
    line-height: 1;
    letter-spacing: 0px;
    margin-bottom: 20px;
    text-transform: capitalize;
    text-align: center;
}
.add-img {
    width: 30%;
    margin: auto;
}

.add-img img {
    display: block;
    width: 100%;

}
.adtn-blk {
    padding: 20px 20px;
    background-color: #a49b9b38;
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btn-blk {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin: 20px 0;
}

button{
    width: 120px;
    height: 50px;
    font-family: "Roboto";
    font-size: 20px !important;
    line-height: 1;
    letter-spacing: 0px;

}

input {
    width: 40px;
    background-color: #d1cbcb;
    border: none;
    outline: none;
    height: 40px;
    font-family: "Roboto";
    font-size:18px;
    text-align: center;
    padding: 10px;
}
span {
    width: 40px;
    height: 40px;
    font-family: "Roboto";
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    color: #fa9746;
}

span.num{

    background-color: #d1cbcb;
    color: #091de1;
}

